/*A16A4A rosa escuro da ovelha*/
/*FFC49C rosa claro da ovelha*/
/*2C3E50 azul mais escuro*/
/*34495E azul mais claro*/

html, body {
    height: 100%;
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F9F9F9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    margin: 20px 0;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

p {
    margin: 10px 0;
    line-height: 1.5;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}

ul li {
    list-style-type: square;
    margin-left: 20px;
    line-height: 1.5;
}

a:hover {
 cursor:pointer;
}

.cabecalho {
    width: 50%;
    margin: 0px auto;
    padding: 10px 0px;
}

.cabecalho .logo {
    width: 100px;    
    margin: 0px auto;
    padding: 10px 0px;
}

.cabecalho h1 {
    margin: 0;
}

.cabecalho .busca {
    width: 100%;
    padding: 10px 0px;
}

.cabecalho .busca input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: large;
    border: 2px solid #F0F0F0;
}

.cabecalho .menu {
    padding: 10px 0px;
    text-align: center;
}

.cabecalho .menu li {
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.cabecalho .menu li a {
    height: 100%;
    padding: 10px 20px;    
    display: inline-block;
    border-right: 1px #F0F0F0 solid;
    color: #000000;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-decoration: none;
}

.cabecalho .menu li:last-child a { 
    border-right: none;
}

.cabecalho .menu li a:hover {
    color: #A0A0A0;
}

.conteudo {
    min-height: calc(100vh - 293px);
    padding: 10px 60px;
    box-sizing: border-box;
    margin-bottom: -60px;
}

.conteudo:after {
    height: 60px;
    content: "";
    display: block;
}

.rodape {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;    	
	background-color: #2C3E50;
	color: white;
    clear: both;
}

.rodape h3 {
    display: inline;
}

.rodape a {
    color: white;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: smaller;
    text-decoration: none;
}

.rodape a:hover {
    text-decoration: underline;
}

.formulario td {
    padding: 10px 10px 0 0;
}

.formulario .titulos {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    margin: 20px 0;
    text-align: right;
}

.formulario .botoes {
    padding-top: 20px;
}

.formulario input {
    padding: 5px;
    font-size: larger;
    border: 1px solid #F0F0F0;
}

.formulario .multiplos-valores .valor {
    display: block;
    margin-bottom: 4px;
}

.formulario .multiplos-valores .valor * {
    display: inline;
    vertical-align: top;
}

.formulario .multiplos-valores img {
    width: 34px;
    height: 34px;
}

.obs {
    margin: 5px;
    color: #A0A0A0;
}

.mensagem-alerta {
    margin: 5px 5px 5px 0;
    padding: 5px;
    display: inline-block;
    background: #F7D4D4;
    color: #D00000;
    border: #D00000 1px solid;
    border-radius: 5px;   
}

.mensagem-info {
    margin: 5px 5px 5px 0;
    padding: 5px;
    display: inline-block;
    background: #DBE5EF;
    color: #2C3E50;
    border: #2C3E50 1px solid;
    border-radius: 5px;
}

.lista {
    width: 100%;
    margin: 20px 0px;
}

.lista tr {
    border-bottom: 1px solid #F0F0F0;
}

.lista tr:hover {
    background: #F5F5F5;
}

.lista .dado {
    width: 100%;
    padding: 10px;
}

.lista .dado h3 {
    margin: 0;
}

.lista .controle {
    padding: 20px 10px;
}

.lista .controle+.controle {
    padding-left: 0px;
}

.tags {
    margin: 10px 0;
}

.tag {
    padding: 3px;
    margin: 1px;
    display: inline-block;
    background: #FDDBA2;
    color: #542016;
    border: 1px solid #542016;
    border-radius: 5px;
}

.botao {
    padding: 10px 20px;
    border: 1px solid #F0F0F0;    
    background: #2C3E50;
    color: white;
    cursor: pointer;
}

.botao:hover {
    background: #34495E;
}

.botao-atencao {
    background: #DE5D5D;
}

.botao-atencao:hover {
    background: #E26B6B;
}

.botao-novo {
    background: #56A056;
}

.botao-novo:hover {
    background: #50AC50;
}

.botao-grande {
    font-size: larger;
}