.lista .img-produto {
    width: 80px;
}

.lista .img-produto img {
    height: 80px;
    width: 80px;
    border: 2px solid #F0F0F0;
}

.lista .dado .preco {
    margin: 10px 0;
    color: #34495E
}